name: Generate Snake

on:
  schedule:
    - cron: "0 21 * * *" # every day at 21:00 UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate snake (dark)
        uses: Platane/snk@v3
        with:
          github_user_name: SentryCoderDev
          outputs: |
            dist/snake_dark.svg?palette=github-dark&color_snake=#88001b
      - name: Generate snake (light)
        uses: Platane/snk@v3
        with:
          github_user_name: SentryCoderDev
          outputs: |
            dist/snake.svg?palette=github-light&color_snake=#88001b
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
